root {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tinos', serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 4rem;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 2rem;
}

.input-box{
    display: flex;
    gap: .5rem;
}

.book-shelf {
    display: flex;
    flex-direction: column;
}

.top-shelf>p{
  text-align: center;
}

.graph-header {
    align-self: none;
    display: grid;
    grid-template-columns: repeat(2,3fr) repeat(3,1fr);
    background-color: darkgray;
    border-top: 1px solid black;
    border-radius: 5px 5px 0 0;
    font-style: italic;
    font-size: 1.2rem;
}

.empty {
    font-size: 1.5rem;
}

.bottom-shelf > ul{
    display: grid;
    grid-template-columns: repeat(2,3fr) repeat(3,1fr);
}

.bottom-shelf>ul:nth-child(even) {
    background-color: rgb(209, 206, 206);
}

.bottom-shelf>ul:last-child {
    border-bottom: 1px solid black;
    border-radius: 0 0 5px 5px;
}

ul {
    padding: 5px;
    list-style: none;
    border-left: 1px solid black ;
    border-right: 1px solid black;
}

li {
    text-justify:inter-word
}

.bottom-shelf>li:nth-child(4){
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    height: 1.3rem;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(99, 99, 99);
}

button:active {
    transform:scale(1.1);
    background-color: black; 
}

.add-book{
    width: 100px;
}

.madeBtn {
    width: 50%;
}

input[type="checkbox"] {
   accent-color: black;
}